@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>An online service connected to the database. 
    Using this service you can create accounts for each driver and assign respective vehicles to them. 
    It manages all schedules, stops, lines and buses information.
    Using a specific bus details you are able to display the actual position of a chosen vehicle.
</p>


<address>
    Paweł Gębala<br />
    <a href="mailto:pawegeb@student.polsl.pl">pawegeb@student.polsl.pl</a><br />
    Kornelia Buchczyk<br />
    <a href="mailto:kornbuc255@student.polsl.pl">kornbuc255@student.polsl.pl</a>
</address>